<h1>{{title}}</h1>
<p>Welcome to {{title}}</p> 
</div>
    <div>
        {{#each family}}
        <a href="/family/{{this._id}}">
                {{this.familyName}}
        </a>
        {{/each}}
    </div>

    <div>
        <a href="/family/new">
            Add a Family
        </a>
    </div>
</div>