<a href="/family">
    Home</a> / New Family
<h2>User Info</h2>
<div>
    <form action="/family" method="POST">

        <div class="form-input">
            <label for="familyName">Family Name</label>
            <input type="text" name="familyName" required/>
        </div>


        <div class="form-input">
            <label for="email">Email</label>
            <input type="text" name="email" />
        </div>

        <div class="button-container">
            <input class="button primary" type="submit" value="Add a New Family">
            <a href="/family" class="button">Cancel</a>
        </div>
    </form>
</div>